#root {
  height: 100%;
  min-height: 100vh;
  background: #f6f7fb;
}
.donutchart-innertext {
  display: none;
}

.donutchart-arcs {
  margin: 20px;
}

.donutchart-arcs-paths {
  opacity: 1;
  border-radius: 20px;
}
